
<h3>My details</h3>


Name: <%= current_user.name %>

<br>
Phone number: <%= current_user.phone_number %>

<br>
Email: <%= current_user.email %>
<br>
  <%= link_to 'Edit profile', edit_user_registration_path %>