/*
 Reset stylesheet
 http://meyerweb.com/eric/tools/css/reset/ 
 v2.0b1 | 201101 
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}ins{text-decoration:none;}del{text-decoration:line-through;}table{border-collapse:collapse;border-spacing:0;}

 /* 
  Clearfix PseudoClass
 */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* 
 inCliques Stylesheet
 @Author: Karina Shenaz [inCliques]
 */

body{
	font-family: tahoma, sans-serif;
	font-size: 16px;
	background-color: #f9f5dc;
}

#top-bar{
	min-width: 1000px; width: 100%;
	height: 25px;
	background-color: #000;
}

#top-bar p{
  color: #000;
}
/*Contains everything below the top bar!*/
#container{
 /* 474744 */
	width: 1000px;
	margin: 0 auto;
}
/*Yellow top part logo part and nav parts here*/
#header{
height: 150px;
background-image: url('../images/header-background2.png');
background-repeat: repeat-x;
/* border-bottom: 3px solid black; */
}

#logo{
margin-left: 40px;
width: 230px;
height: 150px;

}
#incliques{margin-top: 3px;}
#navigation{
color: white;
position:relative;
top: -40px;
left: 280px;
width: 600px;
height: 60px;
}

/* 
 inCliques Building Blocks
 @Author: Minn Soe [inCliques]
*/

#user-info {
	font: 0.875em/1.7 tahoma, sans-serif;
	padding: 0 0 10px 10px;
	width: 980px;
	text-align: right;
	margin: 0 auto 0;
	color: #FFF;
}

#content-container {
	background-color: #000;
	padding:10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.wide-box, .side-box, .main-box {
	padding: 10px;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
/* All boxes have 10 px padding inside, define and remove if needed.
 * The box model calculates padding so if removed must add difference to width.
 */
.wide-box {
	float: left;
	width: 960px;
	background-color: #FFF;
}

.side-box {
	float: left;
	width: 174px;
	background-color: #fff;
	margin-right: 10px;
}
.main-box {
	float: left;
	width:756px;
	background-color: #fff;
  
}
.margin-10 {
	margin-top: 10px;
}
h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

/*Table*/

table{border-collapse: collapse;}

th{
border-bottom: #043B12 1px solid;
text-align: left;
}
td,th{
min-width: 150px; padding: 4px;
}
.odd{
background-color: #DEFAE6;
}
