<h2>My cliques</h2>
<table>
<% if @my_groups.empty? %>
  You don't have any Cliques yet, but why don't you just <%= link_to "create one?", new_group_path %>
<% end %>
<% @my_groups.each do |group| %>
  <tr>
    <td>
      <%= link_to group.name, group_path(group) %>
    </td>
    <td>
        <% if group.owner == current_user %>
        <% end %>
    </td>
    </tr>
  <% end %>
</table>

</br>

<h2>Other cliques</h2>
<table>
<% @groups.each do |group| %>
  <tr>
    <td>
      <%= link_to group.name, group_path(group) %>
    </td>
    <td>
        <% if group.owner == current_user %>
        <% end %>
    </td>
    </tr>
  <% end %>

</table>

