<div class="centerAligned">

  <div class="outerDiv">
    <div class="innerDiv">

        <h2>My cliques</h2>
       <table>
        <% @my_groups.each do |group| %>
          <tr>
            <td>
              <%= link_to group.name, group_path(group) %>
            </td>
            <td>
                <% if group.owner == current_user %>
                  <%= link_to 'Delete group', group, :confirm => 'Are you sure?', :method => :delete, :class => 'button primary danger icon remove' %>
                <% end %>
            </td>
            </tr>
          <% end %>
        </table>

        </br>

        <h2>Other cliques</h2>
       <table>
        <% @groups.each do |group| %>
          <tr>
            <td>
              <%= link_to group.name, group_path(group) %>
            </td>
            <td>
                <% if group.owner == current_user %>
                  <%= link_to 'Delete group', group, :confirm => 'Are you sure?', :method => :delete, :class => 'button primary danger icon remove' %>
                <% end %>
            </td>
            </tr>
          <% end %>

        </table>

      </div>
    </div>
  </div>
