<div class="centerAligned">
  <h1>Welcome to inCliques</h1>
  <ul class="button-group">
    <li> <%= link_to 'Create a Clique', new_group_path, :class => 'button primary' %> </li>
    <li> <%= link_to 'Clique List', groups_path, :class => 'button' %> </li>
  </ul>
</div>
