<div class="centerAligned">
  <h1>Welcome to inCliques</h1>
  <br>
  <ul class="button-group">
    <li> <%= link_to 'Create inCliqu.es account', new_user_registration_path, :class => 'button primary' %> </li>
    <li> <%= link_to 'Log in', new_user_session_path, :class => 'button' %> </li>
  </ul>
</div>
